<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if current_user == @user %>
    <%= link_to "Edit user", edit_user_path(@user) %> |
    <%= link_to "Destroy user", @user, method: :delete %>
  <% end  %>
  <%= button_to "Back to users", users_path, method: :get %>
</div>
